@charset "UTF-8";
.center_text{
	text-align: center;
}
.center{
	text-align: center;
}
.btn-primary{
	width: 256px;
}

.card-image img{
	width: 140px;
	height: 170px;

}
.aaa {
	padding: 30px;
}
.detailTable .card{
	margin-top: 50px;
}